body {
  font-family: "Pretendard";
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  font-display: block;
  font-weight: 300;
  src: url("./assets/fonts/Pretendard-Light.subset.woff") format("woff"),
    url("./assets/fonts/Pretendard-Light.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-display: block;
  font-weight: 400;
  src: url("./assets/fonts/Pretendard-Regular.subset.woff") format("woff"),
    url("./assets/fonts/Pretendard-Regular.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-display: block;
  font-weight: 500;
  src: url("./assets/fonts/Pretendard-Medium.subset.woff") format("woff"),
    url("./assets/fonts/Pretendard-Medium.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-display: block;
  font-weight: 600;
  src: url("./assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-display: block;
  font-weight: 700;
  src: url("./assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Bold.subset.woff") format("woff");
}
